<div class="container mt-5">
    <div class="text-center card" style="border: 2px solid black; padding: 20px; border-radius: 10px;">
        <i class="bi bi-check-circle-fill mt-3" style="color: lightblue; font-size: 4rem;"></i>
        <h3 class="mt-3" style="color: black;">Thank you, your order has been placed!</h3>
        <p style="color: black;">An email confirmation has been sent to you.</p>
        <p style="color: black;">Explore more products on our website <i routerLink="/allproducts" class="bi bi-arrow-right-circle-fill" style="color: yellow;"></i></p>
        <p><b>Guaranteed Delivery: <span style="color: blue ;">In 2-3 Days</span></b></p>
    </div>
</div>
