<div style="height:100px;margin-top:-50px;">
<div class="MobileClass"style="margin-bottom:5px;">
    <div class="step" style="margin-bottom: 5px;">
      <h1 class=" mb-3 text-center mobilelist">Our Brand's List<i> </i></h1>
      <div class="row mt-3" style="margin-left: 100px;">
          <div class="col-lg-2" style="border:solid; background-color: rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/Mobile List/Applelogo.jpeg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >APPLE</h5>
                  <ul style="list-style-type: square">
                        <li>iPhone 13 Pro Max</li>
                        <li>iPhone 13 Pro</li>
                        <li>iPhone 13</li>
                        <li>iPhone 12 Pro Max</li>
                        <li>iPhone 12 Pro</li>
                        <li>iPhone 12</li>
                        <li>iPhone 11 Pro Max</li>
                        <li>iPhone 11 Pro</li>
                        <li>iPhone 11</li>
                        <li>iPhone SE (2020)</li>
                        <li>iPhone XR</li>
                        <li>iPhone XS Max</li>
                        <li>iPhone XS</li>
                    </ul>
                    
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; background-color: rgb(245,244,241);">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/Mobile List/Samsunglogo.jpeg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >SAMSUNG</h5>
                  <ul style="list-style-type: square">
                    <li>Samsung Galaxy S21 Ultra 5G</li>
                    <li>Samsung Galaxy S21+ 5G</li>
                    <li>Samsung Galaxy S21 5G</li>
                    <li>Samsung Galaxy Note 20 Ultra 5G</li>
                    <li>Samsung Galaxy Note 20 5G</li>
                    <li>Samsung Galaxy S20 Ultra 5G</li>
                    <li>Samsung Galaxy S20+</li>
                    <li>Samsung Galaxy S20 5G</li>
                    <li>Samsung Galaxy Note 10+</li>
                    <li>Samsung Galaxy Note 10</li>
                    <li>Samsung Galaxy S10+</li>
                    <li>Samsung Galaxy S10</li>
                    <li>Samsung Galaxy A71</li>
                </ul>
                
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px;background-color:rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/Mobile List/Xiaomilogo.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >XIAOMI</h5>
                  <ul style="list-style-type: square">
                    <li>Xiaomi Mi 11 Ultra</li>
                    <li>Xiaomi Mi 11 Pro</li>
                    <li>Xiaomi Mi 11</li>
                    <li>Xiaomi Mi 10 Ultra</li>
                    <li>Xiaomi Mi 10 Pro</li>
                    <li>Xiaomi Mi 10</li>
                    <li>Xiaomi Mi Note 10 Pro</li>
                    <li>Xiaomi Mi Note 10</li>
                    <li>Xiaomi Redmi Note 10 Pro</li>
                    <li>Xiaomi Redmi Note 10</li>
                    <li>Xiaomi Redmi 9</li>
                    <li>Xiaomi Redmi 9A</li>
                    <li>Xiaomi Poco X3 Pro</li>
                </ul>
                
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; background-color:rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/Mobile List/Onepluslogo.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >ONEPLUS</h5>
                  <ul style="list-style-type: square">
                    <li>OnePlus 9 Pro</li>
                    <li>OnePlus 9</li>
                    <li>OnePlus 8 Pro</li>
                    <li>OnePlus 8T</li>
                    <li>OnePlus 8</li>
                    <li>OnePlus Nord</li>
                    <li>OnePlus 7T Pro</li>
                    <li>OnePlus 7T</li>
                    <li>OnePlus 7 Pro</li>
                    <li>OnePlus 7</li>
                    <li>OnePlus 6T</li>
                    <li>OnePlus 6</li>
                    <li>OnePlus Nord CE 5G</li>
                </ul>
                
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; margin-right: 5px;background-color: rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/Mobile List/Huaweilogo.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 8px;" >HUAWEI</h5>
                  <ul style="list-style-type: square">
                    <li>Huawei P40 Pro+</li>
                    <li>Huawei P40 Pro</li>
                    <li>Huawei P40</li>
                    <li>Huawei Mate 40 Pro+</li>
                    <li>Huawei Mate 40 Pro</li>
                    <li>Huawei Mate 40</li>
                    <li>Huawei P30 Pro</li>
                    <li>Huawei P30</li>
                    <li>Huawei Mate 30 Pro</li>
                    <li>Huawei Mate 30</li>
                    <li>Huawei Nova 7i</li>
                    <li>Huawei Nova 5T</li>
                    <li>Huawei Y9 Prime 2019</li>
                </ul>
                
                 
                </div>
              </div>
    
            </div>
    
      </div>
    </div>
      <app-footer></app-footer>
      