<div class="bgImage">
    <div class="container content">
        <h1>About Us</h1>
        <p><b>USPK'📱Mobile Zone</b> is a national chain of neighborhood mobile stores. We are committed to providing our customers outstanding value in the form of the best quality mobiles at the best everyday prices. Through our rewarding products and knowledgeable, friendly Crew Members, we have been transforming mobile shopping into a welcoming journey full of discovery and fun since 2024.</p>
        <p>We deliver a wide range of cell phones. Users have to first login into the system to view the mobiles and buy.</p>
    </div>
</div>
<app-footer></app-footer>
