.bgImage {
  height: 100%; /* Full viewport height */
  background-image: linear-gradient(rgba(157, 189, 148, 0.8), rgba(31, 27, 27, 0.8)), url(../../assets/Pagebg/aboutbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: white;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 40px;
}

p {
  font-size: 30px;
  line-height: 1.4;
}
