.mat-elevation-z8 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mat-header-row {
    background-color: #f0f0f0;
}

.mat-row {
    border-bottom: 1px solid #ddd;
}

th.mat-header-cell, td.mat-cell {
    padding: 12px;
    text-align: left;
}

th.mat-header-cell {
    font-weight: bold;
}

td.mat-cell {
    font-size: 14px;
}
